<p id="notice"><%= notice %></p>

<h1>Inscrições</h1>
<div class="table-responsive">
<table class="table table-striped w-auto">
  <thead>
    <tr>
    <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Telefone</th>
      <th scope="col">Email</th>
      <th scope="col">Tipo</th>
      <th scope="col">Categoria</th>
      <th scope="col">Municipio</th>
      <th scope="col">Opções</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inscricaos.each do |inscricao| %>
      <tr>
      <th scope="row"><%= inscricao.id %></th>
        <td><%= inscricao.nome %></td>
        <td><%= inscricao.telefone %></td>
        <td><%= inscricao.email %></td>
        <td><%= inscricao.tipo %></td>
        <td><%= inscricao.categoria %></td>
        <td><%= inscricao.municipio %></td>
        <td><%= link_to 'Mostrar', inscricao %></td>
        <td><%= link_to 'Editar', edit_inscricao_path(inscricao) %></td>
        <td><%= link_to 'Eliminar', inscricao, method: :delete, data: { confirm: 'Tem a certe?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<h3>Total de Inscritos:<%=@inscricaos.count %></h3> <br>
<%= link_to 'Nova Inscricao', new_inscricao_path %>
