<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @inscricao.nome %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @inscricao.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @inscricao.email %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @inscricao.tipo %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @inscricao.categoria %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @inscricao.municipio %>
</p>
<div class="container">
<div class="row">
<div class="col-md-12">
<% if @inscricao.image.attached? %>
<div class="imagem2">
<%= image_tag(@inscricao.image) %>
</div>
<%else%>
<div class="imagem"></div>

<%end%>
</div>
</div>
</div>